
*{
  font-size: 20px;
  font-family: sans-serif;
}
body{
  background: rgb(238,174,202);
  background: linear-gradient(32deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

ul{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
ul li{
  list-style: none;
  padding:20px;
}
ul li:hover{
  background: rgba(0, 0, 0, 0.4);
}

.slider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botones{
  margin: 10px;
}
.botones button{
  margin: 10px;
}

.slider img{
  width: 400px;
  height: 400px;
}
